.pokemonRow {
    -webkit-column-width: 17em;
       -moz-column-width: 17em;
        -ms-column-width: 17em;
         -o-column-width: 17em;
            column-width: 17em;
}

.pokemonItem {
    display: block;
    width:100%;
}