/**
 * Support: web-master72@yandex.ru;
 * Author: web-master72
 * 
 *
/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
	font: 300 15px/1.6 'Raleway', serif, sans-serif;
	color: #545454;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #159957;
}

a:hover {
	color: #C4C4C4;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font: 400 46px/1.2 'Montserrat', serif, sans-serif;
	margin: 5px 0 5px;
	color:#159957;
}

h1 {
	font-size: 64px;
	font-weight: 700;
	margin: 5px 0 15px;
}

h2 {
	font-size: 40px;
	font-weight: 700;
}

h3 {
	font-size: 22px;
	text-transform: uppercase;
	margin: 5px 0 15px;
}

h4 {
	font-size: 16px;
	margin: 5px 0 10px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 13px;
}

/* ---------------------------------------------- /*
 * Transition elsements
/* ---------------------------------------------- */

a,
.btn,
.navbar,
.form-control,
.portfolio-item-description {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}

.portfolio-item-preview {
	-webkit-transition: all 0.3s ease-in-out 0s;
	   -moz-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		 -o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
}

/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */

.btn,
.panel,
.progress,
.form-control,
.modal-content,
.form-control:hover, 
.form-control:focus {
	-webkit-box-shadow: none;
			box-shadow: none;
}

/* ---------------------------------------------- /*
 * Avatar border-radius
/* ---------------------------------------------- */

.avatar {
	width: 300px;
	height: 300px;
	-webkit-border-radius: 150px;
	   -moz-border-radius: 150px;
	    -ms-border-radius: 150px;
	     -o-border-radius: 150px;
	        border-radius: 150px;
}

/* ---------------------------------------------- /*
 * Reset border-radius
/* ---------------------------------------------- */

.btn,
.alert,
.progress,
.form-control,
.modal-content,
.panel-group .panel,
.widget-social li a {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}

/* ---------------------------------------------- /*
 * Tabs
/* ---------------------------------------------- */

.nav-pills, .nav-tabs {
	margin-bottom: 20px;
}

.nav-pills > li > a {
	border-radius: 3px;
}

.nav-tabs > li > a {
	border-radius: 3px 3px 0 0;
}

/* ---------------------------------------------- /*
 * Panels
/* ---------------------------------------------- */

.panel {
	border: 0;
}

.panel-body {
	background: #f5f5f5;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
	border: 0;
}

/* ---------------------------------------------- /*
 * Modal
/* ---------------------------------------------- */

.modal-content {
	border: 0;
}

/* ---------------------------------------------- /*
 * General
/* ---------------------------------------------- */

.wrapper {
	overflow: hidden;
}

.section, .callout {
	position: relative;
	padding: 50px 0;
}

.callout {
	background: #F5F5F5;
    /*background-image: url("../../images/sativa.png");*/
}

.headline {
	margin: 0 0 60px;
}

.headline p {
	font-weight: 700;
	color: #C4C4C4;
}

.callout-btn {
	margin-top: 10px;
}

.rotate {
	text-shadow: 0 0 0 !important;
}

.nomargin {
	margin: 0 !important;
}

.long-down {
	margin-bottom: 40px;
}

.icon-list {
	list-style: none;
	padding: 0px;
}

.icon-list > li > i {
	margin-right: 6px;
}

h3 > .fa {
	font-size: 24px;
	margin-right: 6px;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.navbar {
	background: #159957;
	border-radius: 0;
	border: 0;
	padding:  0;
	text-transform: uppercase;
	color: #FFF !important;
	background-color: #159957;
  	background-image: linear-gradient(120deg, #155799, #159957); 
}

.navbar-custom .nav li a:hover, 
.navbar-custom .nav li a:focus, 
.navbar-custom .nav li.active {
	background: none;
	outline: 0;
	color: #159957;
}

.navbar-custom .navbar-brand {
	font: 700 18px/1.2 'Montserrat', serif, sans-serif;
	color: #FFF;
}

.navbar-custom .navbar-brand:hover{
	color:#159957;
}

.navbar-custom .navbar-nav > li.active {
	border-bottom: 3px solid #FFF;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #FFF;
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	color: #FFF;
	font-size: 12px;
}

.navbar-color,
.custom-collapse {
	background-color: #159957;
  	background-image: linear-gradient(120deg, #155799, #159957); 
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	padding: 0;
}

.navbar-color .navbar-brand,
.custom-collapse .navbar-brand,
.navbar-color .navbar-nav > li > a,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.custom-collapse .navbar-nav .dropdown-menu > li > a {
	color: #fff;
}

.navbar-color .navbar-nav > li.active {
	border-bottom: 3px solid #159957;
}

.custom-collapse .navbar-nav {
	text-align: left;
}

.custom-collapse .navbar-nav > li.active {
	border: 0;
}

.navbar-color .navbar-toggle .icon-bar,
.custom-collapse .navbar-toggle .icon-bar {
	background: #fff;
}


/* ---------------------------------------------- /*
 * Clients
/* ---------------------------------------------- */

.owl-theme .owl-item {
	text-align: center;
}

.owl-theme .owl-controls .owl-page span {
	margin: 0 4px;
}

.owl-theme .owl-controls .owl-page span {
	border-radius: 0;
	width: 40px;
	height: 4px;
}

.owl-theme .owl-controls .owl-pagination {
	margin-top: 20px;
}

#clients {
	margin-top: 50px;
}

/* ---------------------------------------------- /*
 * Portfolio
/* ---------------------------------------------- */
/*
.pkmn-item {
	overflow: hidden;
}*/

.pkmn-item-preview {
 /*	text-align: center;
  	position: relative;
  	overflow: hidden;
  	width: 100%;
*/

	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.pkmn-item-preview img{
	height:100%;
}

/*
.pokemonItem {
    display: block;
    width:100%;

}*/

.pkmn-item{
	position: relative;
	width: 100%;		/* desired width */
}

.pkmn-item:before{
		content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.pokemonCount{
	color:#222;
}

.generation{
    text-align: left;
}

.pokemonContainer{
    margin-bottom: 20px;
}

/* ---------------------------------------------- /*
 * Type
/* ---------------------------------------------- */

.pokemon-badge-column{
	position:absolute;
	top:0px;
	right: 0px;
	width : 50px;
	height:100%;
}

.pokemon-badge{
	position:absolute;
	right: 5px;
	top:5px;
	width : 40px;
	height: 40px;
}

.pokemon-badge:nth-of-type(2n){
	top:45px;
}

/* ---------------------------------------------- /*
 * Contact
/* ---------------------------------------------- */

#contact {
	background: #18191a;
	color: #FFF;
}

#contact h1, #contact h2, #contact h3, #contact h4, #contact h5, #contact h6 {
	color: #159957;
}

#footer {
	color: #FFF;
	padding: 20px 0;
  	background-color: #159957;
  	background-image: linear-gradient(120deg, #155799, #159957); 
}

#footer .copy {
	font-size: 12px;
	margin: 5px 0;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */

@media (max-width: 767px) {
	.wrapper {
		text-align: center;
	}
}